<!-- templates/polls/vote_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>투표</title>
</head>
<body>
    <h1>투표 폼</h1>
    {{question.pk}}. {{question.question_text}}<p>
    {% for choice in question.choice_set.all %}
        {# choice: Choice모델객체#}
        {{choice.choice_text}}<br>

    {% endfor %}
</body>
</html>

{#한줄주석#}
<!-- html주석 -->
{%comment%}
block주석
{%endcomment%}
