<!-- templates/polls/vote_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>투표</title>
</head>
<body>
    <h1>투표 폼</h1>
    {% if error_message != None %}
    <div style = "color:red">
            {{error_message}}{# 변수가 없거나 , None일 경우 그냥 안보인다. #}
        </div><br>
    {% endif %}
    <!-- span테그는 줄 바꿈 없이 사용할 수 있다. -->
    {{question.pk}}. {{question.question_text}}<p>

    <form action="/polls/vote" method='post'>
        {% csrf_token %} {# post 방식으로 요청시 반드시 넣어주아야 한다. csrf공격을 방지하기 위한 token값을 생성 #}
        <input type='hidden' name = "question_id" value="{{question.pk}}">
        {% for choice in question.choice_set.all %}
            {# choice: Choice모델객체#}
            <input type = 'radio' name='choice' value="{{choice.pk}}" id = {{choice.pk}}>  
            <!-- radio는 그룹으로 묶어야 정상 작동한다. -> name을 지정해주어야함 -->
            
            <label for='{{choice.pk}}'>{{choice.choice_text}}</label><br>
        {% endfor %}
        <input type = 'submit' value='VOTE'> <button>투표</button>
        <input type = 'reset' value = 'RESET'> <button type = 'reset'>초기화</button>
   </form>
    
</body>
</html>
